# Flow of project
execution_trace.md

# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
*.log

# Environment variables
.env

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Django custom management commands
**/management/

